@model Playlist.Web.DTOs.SongDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Song</h1>

<form asp-action="Edit" method="post">
  <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Título</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Título">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Género</label>
        <input type="text" class="form-control" asp-for="Genre" placeholder="Género">
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Duración (segundos)</label>
        <input type="number" class="form-control" asp-for="DurationInSeconds" placeholder="Duración (segundos)">
        <span asp-validation-for="DurationInSeconds" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Año de lanzamiento</label>
        <input type="number" class="form-control" asp-for="ReleaseYear" placeholder="Año de lanzamiento">
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Id de usuario</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="Id de usuario">
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
