@model Playlist.Web.DTOs.UserDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Usuario</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Nombre">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" asp-for="Age" placeholder="Edad">
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">País</label>
        <input type="text" class="form-control" asp-for="Country" placeholder="País">
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Correo Electrónico">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" asp-for="Password" placeholder="Contraseña">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Confirmar Contraseña</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirmar Contraseña">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
